/* styles/custom.css */
@media (min-width: 992px) {
    .position-relative-lg {
      position: relative;
    }
    .position-absolute-lg {
        position: absolute;
        vertical-align: center;
        top: 40%;
        left: 10%;
    }
    .banner-card-wrapper{
        max-width: 500px;
    }
    .banner-cardactions-wrapper{
        justify-content: center;
        display: flex;
    }
}
.form-wrapper{
    max-width: 400px;
    width: 80%;
    justify-content: center;
}

.form-wrapper-inner{
    display: flex;
    justify-content: center;
}

.banner-image{
    width: 100%;
    height: auto;
}

.logout-div:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



html, body {
    overflow-x: hidden!important;
    margin: 0!important;
    padding: 0!important;
}

.css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled{
    display: none!important;
}

#tabs-holder .Mui-disabled{
    display: none!important;
}

.grid-inner:hover .tooltip-wrapper{
    display: block!important;
}

.light-bg-on-hover:hover{
    background-color:rgba(0, 0, 0, 0.05);
    cursor:pointer;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.post-card-actions-wrapper{
    display:flex;
    flex-grow: 1;
}


.post-card-actions-wrapper button{
    flex: 1;
}

